{% macro t(key) %}{{ {
  "language": "ru",
  "edit.link.title": "Редактировать страницу",
  "footer.previous": "Предыдущая",
  "footer.next": "Следующая",
  "meta.comments": "Комментарии",
  "meta.source": "Source",
  "search.languages": "en, ru",
  "search.placeholder": "Поиск",
  "search.result.placeholder": "Начните печатать для поиска",
  "search.result.none": "Ничего не найдено",
  "search.result.one": "Найдено 1 совпадение",
  "search.result.other": "# найденных совпадений",
  "search.tokenizer": "[\s\-]+",
  "source.link.title": "Go to repository",
  "toc.title": ""
}[key] }}{% endmacro %}
